$primaryColor: #53F;
$secondaryColor: #FFC;
$tertiaryColor: #FBB;
body {
  font-family: Verdana;
  font-size: 1.5em;
}

#team-members {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  color: $primaryColor;
}

#team-members .member {
  float: left;
  /*border: 1px solid gray;*/
  margin: 10px;
  padding: 6px;
}

#team-members .member img {
  width: 200px;
  height: 200px;
  border-radius: 9px;
}

#team-members .member div.name {
  text-align: center;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  background-color: $tertiaryColor;
  border-radius: 8px;
}

.member {
  border-radius: 9px;
  box-shadow: 2px 2px 4px $primaryColor;
}

body {
  h1 {
    color: $primaryColor;
    margin: 0 auto;
    text-align: center;
  }
}

#Arvinder {
}
